@charset "utf-8";

body {
    background-color: #606C5D;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
.room {
    margin: 0 auto;
    background-color: #FFF4F4;
    width: 1480px;
    height: 780px;
    border-radius: 50px;
    min-width: 360px;
}
.wall {
    background-color: #FF9F9F;
    height: 600px;
    border-radius: 50px 50px 0 0;
}
.frame {
    width: 300px;
    height: 300px;
    float: right;
    margin-right: 10%;
    margin-top: 20px;
}
.lf-player-container {
    position: relative;
    width: 300px;
    height: 300px;
    z-index: 10;
}
.frame-bg, .picture {
    width: 300px;
    height: 300px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
}
.floor {
    background-color: #E97777;
    height: 180px;
    border-radius: 0 0 50px 50px;
}