@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}
.container {
  display: flex;
}
main {
  width: 100%;
  padding: 20px;
}
.sidebar {
  background: #F7E6C4;
  color: #000;
  height: 100vh;
  width: 300px;
  transition: all 0.5s;
}
.top_section {
  display: flex;
  align-items: center;
  padding: 20px 15px;
}
.logo {
  font-size: 30px;
  width: 200px;
}
.bars {
  display: flex;
  font-size: 25px;
  margin-left: 50px;
}
.link {
  display: flex;
  color: #000;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.link:hover {
  background: #F1C376;
  color: #606C5D;
  transition: all 0.5s;
}
.active {
  background: #F1C376;
  color: #606C5D;
}
.icon, .link_text {
  font-size: 20px;
}